<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Product</th>
			<th>Description</th>
			<th>Average Rating</th>
			<th>Price</th>
			<% if current_user != nil and current_user.userType == "admin" %>
				<th colspan="3"></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% products.each do |product| %>
			<tr data-href="<%= product_path(product) %>">
				<td><%= product.name %></td>
				<td><%= product.description %></td>
				<td><%= product.average_rating %></td>
				<td><%= product.price %></td>
				<% if current_user != nil and current_user.userType == "admin" %>
					<td><%= link_to 'Edit', edit_product_path(product) %></td>
					<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
