<p id="notice"><%= notice %></p>


<h1>
  <%= @product.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h3>Reviews:</h2>
<%= render @product.reviews %>

<h3>Add a review:</h2>
<% if current_user != nil %>
	<%= render 'reviews/form' %>
<% else %>
	<p>Log in to review this product.</p>
<% end %>

<% if current_user != nil and current_user.userType == "admin" %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
